<style>
    .paper-style {
        margin: 1em 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.5em 1em;
        background-color: #e0f7fa;
    }
</style>

<div class="paper-style" role="alert">
    <span class="oi oi-info mr-2" aria-hidden="true"></span>
    <strong> 本网站基于 ASP.NET Core Blazor 构建，DotNet SDK 版本为&nbsp;</strong>
    <a target="_blank" class="font-weight-bold" href="https://dotnet.microsoft.com/download/">@SdkVersion</a>
</div>

@code {

    [Parameter]
    public string SdkVersion { get; set; }

}