.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

#parallaxImage {
    transform: translate3d(-50%, 10em, 0);
    opacity: 1;
    width: 100%;
}

@media (max-width: 640.98px) {
    #parallaxImage {
        transform: translate3d(-50%, 0, 0);
    }
}