@inherits LayoutComponentBase

<NavMenu/>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">欢迎访问我的简易博客</h1>
            <div class="row center">
                <h5 class="header col s12 light">基于ASP.NET Core Blazor WebAssembly构建</h5>
            </div>
            <div class="row center">
                <a href="https://github.com/TanWucheng/MyBlazorWebAssembly" target="_blank" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">代码仓库</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax">
        <img id="parallaxImage" src="img/PRookery.jpg" alt="未能加载图片" class="para-image"/>
    </div>
</div>

<div class="container">
    @Body
</div>

@code{

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("materializeComponentInit");
        }
    }

}